@layer utils {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-y-center {
    display: flex;
    align-items: center;
  }

  .flex-x-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .transition-300 {
    transition: all 0.3s;
  }

  .transition-200 {
    transition: all 0.2s;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
